@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background: #000;
}

.wrapper {
  width: 550px;
  height: 120px;
  line-height: 120px;
  text-align: center;
}

.timer {
  color: aqua;
  font-size: 60px;
  letter-spacing: 6px;
}
